@model IEnumerable<GarageRev.Models.Reviews>

@{
    ViewData["Title"] = "Index";
}

<h1>Reviews</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Comentario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Utilizador)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CarroFK)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Comentario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Utilizador.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Carro)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id">Ver Detalhes</a> 
                @if (User.Identity.IsAuthenticated) {
                    <a asp-action="Edit" asp-route-id="@item.Id">| Editar </a>
                    <a asp-action = "Delete" asp-route-id = "@item.Id" >| Apagar </a>
                    }
            </td>
        </tr>
}
    </tbody>
</table>
