
@model GarageRev.Models.Carros

@{
    ViewData["Title"] = "Details";
}

<h1>Detalhes</h1>

<div>
    <h4>Carros</h4>
    <hr />
    <div style="float:left; margin-right:20px;  margin-top:10px; border:2px solid black">
        <img src="~/Photos/@Html.DisplayFor(model => model.Foto)"
             width="300" />
    </div>

    <div>
            <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Marca)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Marca)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Modelo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Modelo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Versao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Versao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Combustivel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Combustivel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ano)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ano)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CilindradaouCapacidadeBateria)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CilindradaouCapacidadeBateria)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Potencia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Potencia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipoCaixa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoCaixa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nportas)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nportas)
        </dd>
    </dl><form asp-action="ApresentaReview">
        <input type=hidden name="Id" value="@Model.Id" />
        <span>Review:</span><br />
        @*@if (!User.Identity.IsAuthenticated)
        {
            <div width:36%">
            <textarea disabled style="resize:none; width:900px; height:100px;">Entre na conta de cliente para submeter uma review.</textarea><br />
            </div><br /><br />
        }
        @if(User.Identity.IsAuthenticated){*@
            <textarea required name="comentario" style="resize:none; width:900px; height:100px;"></textarea><br />
        <div style="float: right; width:36%">
            <input type="submit" value="Adicionar Review" class="btn btn-primary" />
            </div><br /><br />
        @*}*@
        
    </form>
        
</div>
    <div id="comentarios" style="width:80%">
        
        @foreach (var item in Model.Reviews) {
    <div style="border: 3px solid black; background-color: #ece3f7;
        padding-top: 2px; padding-right: 3px; padding-bottom: 5px; padding-left: 5px;">

@*        <span style="font-weight:bold; font-size:medium;">  Email: </span> @item.Utilizador
*@        <span style="font-weight:bold; font-size:medium">  Comentario: </span>@Html.Raw(item.Comentario) <br />
        <span style="font-weight:bold; font-size:medium">  Data: </span>@item.Data <br />
    </div>
            <br />
            @*@if (User.Identity.IsAuthenticated)
            {*@
                <div>
                    <button class="btn btn-primary" onclick="location.href = '@Url.Action("Edit", "Reviews", new { Id = item.Id })'">Editar</button>
        <button class="btn btn-primary" onclick="location.href = '@Url.Action("Delete", "Reviews", new { Id = item.Id })'">Eliminar</button>
    </div><br />
    @*}*@
    }
   </div>

        <b>Categories: </b>
        @foreach (var item in Model.ListaCategorias) {
                <a asp-route-id="@item.Id" style="margin-right:5px;">@item.NomeCat</a>
        }
        
    </div>
 
<div>
    @*@if (User.Identity.IsAuthenticated) {*@
        <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
    @*}*@
    <a asp-action="Index">Voltar à pàgina anterior</a>
</div>
