
@model GarageRev.Models.Carros

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Carros</h4>
    <hr />
    <div style="float:left; margin-right:20px;  margin-top:10px; border:4px solid black">
        <img src="~/Photos/@Html.DisplayFor(model => model.Foto)"
             width="200" />
    </div>


    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Marca)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Marca)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Modelo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Modelo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Versao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Versao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Combustivel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Combustivel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ano)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ano)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CilindradaouCapacidadeBateria)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CilindradaouCapacidadeBateria)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Potencia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Potencia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipoCaixa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoCaixa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nportas)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nportas)
        </dd>
        
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
