@model IEnumerable<GarageRev.Models.Carros>

@{
    ViewData["Title"] = "Index";
}

<h1>Carros</h1>
@if (User.Identity.IsAuthenticated) {
    <p>
        <a asp-action="Create">Adicionar Novo Carro</a>
    </p>
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Marca)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Modelo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Versao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Combustivel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ano)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CilindradaouCapacidadeBateria)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Potencia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipoCaixa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nportas)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Marca)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Modelo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Versao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Combustivel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ano)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CilindradaouCapacidadeBateria)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Potencia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoCaixa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nportas)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id">Ver Detalhes</a>
                @if (User.Identity.IsAuthenticated) {
                    <a asp-action="Edit" asp-route-id="@item.Id">| Editar </a>
                    <a asp-action = "Delete" asp-route-id = "@item.Id" >| Apagar </a>
                    }
            </td>
        </tr>
}
    </tbody>
</table>
